{% extends 'base.html' %} 

{% block content %}
<link rel="stylesheet" href="../../static/css/style.css">
<section class=" text-center shadow pb-5 pt-5">
      
    <body>
        <!-- <div class="carousel fade"></div> -->
        <div class="slider" style="justify-content: space-evenly;">
            <div class="row-3 p-10">
                <h2 style="color:cornflowerblue"></h2>
                <a href="{{ url_for('site.search_recipes') }}"><button type="button" style="color:#E2F516; background-color: #5865F2; border-radius: 5px;">Create your own recipe</button></a>
            </div>
            <div class="carousel fade"></div>
            <!-- <div class="carousel child fade " id="img">  -->
                <!-- <img src="../../static/images_carrousel/img1.jpeg"/> -->
                <!-- <div id="img">TEST</div> -->
                <div class="row-3 p-10">
                    <h2 style="color:cornflowerblue"></h2>
                    <a href="{{ url_for('site.search_recipes') }}"><button type="button" style="color:#E2F516; background-color: #5865F2; border-radius: 5px;">Search for a recipe</button></a>
                </div>
            </div>
        </div>

        <script src="../../static/images_carrousel/script.js"></script>

    </body>

</section>
{% endblock %}
