{% extends 'base.html' %}

{% block content %}
    <!-- Form content -->
<link rel="stylesheet" href="../../static/css/style.css">
<section class=" text-center shadow pb-5 pt-5">
<body>
    <div class="slider-signup">
    <!-- <main class="container p-5 shadow-lg p-3 mb-5 bg-white rounded">
        <div class="row"> -->
            <aside class="col-12 col-md-6 " style="font-family: Lucida Console, Courier, monospace !important;color: rgb(14, 26, 149);">
                <h2>Sign Up</h2>
                {% include 'forms.html' %}
            </aside>
        <!-- </div>
    </main> -->
    </div>
</body>
</section>

{% endblock %}